alias config="git --git-dir=$HOME/.cfg --work-tree=$HOME"
alias ssh='TERM=xterm-256color ssh'
alias vi='nvim'
alias vim='nvim'
alias vimdiff='nvim -d'
alias clodri='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
alias tmux='direnv exec / tmux'
alias gp='java -jar $HOME/.bin/gp.jar'
alias rrepl="rustup run nightly-2016-08-01 ~/.cargo/bin/rusti"
#alias pyenv="CFLAGS='-I/usr/local/opt/openssl/include -I$(xcrun --show-sdk-path)/usr/include' LDFLAGS='-L/usr/local/opt/openssl/lib pyenv'"
alias curl="/usr/local/opt/curl/bin/curl"
alias curlwifi="/usr/local/opt/curl/bin/curl --progress-bar --interface en0 -C - -O"
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
#alias curl="$(brew --prefix curl)/bin/curl"
#alias pyenv="CFLAGS='-I$(brew --prefix openssl)/include -I$(xcrun --show-sdk-path)/usr/include' LDFLAGS='-L$(brew --prefix openssl)/lib pyenv'"
